{% extends "base.html" %}

{% block content %}
<h2>Подписки пользователия {{ user.login }}</h2>
<table class="table">
    <tbody>
    {% for i in subscribers %}
    <tr>
        {% if i.avatar_photo_id != 0 %}
            <td><img src='/static/img/{{ i.avatar_photo_id }}.jpg' style="width:50px; height:50px; float: left"></td>
        {% endif %}
        <td><a href="/user/{{ i.id }}">{{ i.login }}</a></td>
        {% if user.id == current_user.id %}
        <td><a class="btn btn-primary" href="/delete_subscriber?id={{ i.id }}&back_url=/subscribers/{{ current_user.id }}/{{page_info.page_number}}" role="button">Отписать</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if page_info.pages_count != 1 %}
{% if page_info.page_number != 1 %}
<a class="btn btn-primary" href="/subscribers/{{user.id}}/{{page_info.page_number - 1}}" role="button">Предыдущая страница</a>
{%endif%}
{%if page_info.page_number != page_info.pages_count%}
<a class="btn btn-primary" href="/subscribers/{{user.id}}/{{page_info.page_number + 1}}" role="button">Следующая страница</a>
{%endif%}
{%endif%}
{% endblock %}