{% extends "base.html" %}

{% if user.private_account %}
        {% if user.id == current_user.id %}
            {% set info_available = True %}
        {% else %}
            {% if current_user in user.subscribers %}
                {% set info_available = True %}
            {% else %}
                {% set info_available = False %}
            {% endif %}
        {% endif %}
    {% else %}
        {% set info_available = True %}
    {% endif %}


{% block content %}

{% include 'user_info_card.html' %}

<div class="row">
    {% if user.id == current_user.id %}
    <div class="col">
        <div style="padding: 20px 0px 10px 0px"><a class="btn btn-outline-light" href="/add_post" role="button" ><h5>Новый пост</h5></a></div>
    </div>
    {% endif %}
    {% if posts_list|list|length != 0 and info_available%}
    <div class="col">
        <div style="float: right">
            <div class="dropdown" style="padding: 20px 0px 10px 0px">
              <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировка</button>
              <div class="dropdown-menu bg-dark text-light border-light" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item text-light" href="/set_sort_post_mode?type=1&back_url=/user/{{ user.id }}">Сначала новые</a>
                <a class="dropdown-item text-light" href="/set_sort_post_mode?type=2&back_url=/user/{{ user.id }}">Сначала старые</a>
                <a class="dropdown-item text-light" href="/set_sort_post_mode?type=3&back_url=/user/{{ user.id }}">Сначала залайканные</a>
              </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% if info_available %}
    {% for post in posts_list %}
        {% include 'post_user_page.html' %}
    {% endfor %}

    {% if page_info.pages_count > 1 %}
        <div class="row">
            {% if page_info.page_number != 1 %}
                <div class="col">
                    <a class="btn btn-outline-light" href="/user/{{user.id}}/{{page_info.page_number - 1}}" role="button">Предыдущая страница</a>
                </div>
            {%endif%}

            {%if page_info.page_number < page_info.pages_count%}
                <div style="float: right">
                    <div class="col">
                        <a class="btn btn-outline-light" href="/user/{{user.id}}/{{page_info.page_number + 1}}" role="button">Следующая страница</a>
                    </div>
                </div>
            {%endif%}
        </div>
    {%endif%}
{% else %}
    <h2 class="text-light" align="center">Аккаунт приватный. Отправьте запрос на подписку пользователю и дождитесь принятия.</h2>
{%endif%}

{% endblock %}